.root {
    -fx-background-image: url("metal001.jpg");
    -fx-background-size: cover;
}

.button {
    -fx-background-image: url("metal002.png");
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;

    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: rgba(20, 20, 20, 1);
    -fx-font-size: 28px;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.button:armed {
    -fx-background-image: url("metal002.png");
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;

    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;

    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.8) , 6, 0.0 , 0 , 2 );
    -fx-text-fill: rgba(20, 20, 20, 0.9);
    -fx-font-size: 28px;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.button.text {
    -fx-font-family: "Verdana", Times, sans-serif;
    -fx-font-weight: bold;
    -fx-effect: innershadow( gaussian, rgba(20, 20, 20, 0.5), 10, 0, 5, 5 );
}

.label {

}

.label .text {
    -fx-font-family: "Verdana", Times, sans-serif;
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-effect: innershadow( gaussian, rgba(20, 20, 20, 0.5), 10, 0, 5, 5 );
}

.text-area {
    -fx-border-color: rgba(0, 0, 0, 0.7);
    -fx-border-width: 5px;
    -fx-cursor: text;
}

#battleGroundGridPane {
    -fx-background-color: rgba(150, 150, 150, 0.5);
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.slider {
    -fx-cursor: hand;
}

.slider .thumb {
    -fx-background-image :url("ship.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 20;
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-image :url("wave.png");
    -fx-padding: 8;
    -fx-background-color: transparent;
}

.slider .axis {
    -fx-tick-label-fill: black;
    -fx-tick-label-font-size: 1em;
}