/*
// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/
*/

#calculator {
	-fx-background-color: #444444;
}

#calculator .grey {
	-fx-background-color:
			#D2CDC6;
	-fx-text-fill: #000000;
}

#calculator .orange {
	-fx-background-color:
			#F69A10;
	-fx-text-fill: #FFFFFF;
}

#calculator .red {
	-fx-background-color:
			#F60909;
	-fx-text-fill: #FFFFFF;
}

